/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.main-container {
  margin: 2em auto 0;
  width: 80%;
}

.main-date {
  font-size: 0.75rem;
}

.main-title {
  font-size: 2rem;
}

.main-image {
  width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  object-position: center top;
}

.blog-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---Blog grid--- */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  grid-template-areas:
    ".... one ...."
    ".... two ...."
    ".... thr ....";
}

.blog-text-container {
  margin-left: 0.7em;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: thr;
}

.blog-img {
  display: block;
  width: 100%;
  margin: 2.5em auto 0;
  aspect-ratio: 16/9;
  object-fit: cover;
  padding: 0 0.5em;
}

.blog-date {
  font-size: 0.875rem;
}

.blog-text-container h3 {
  font-size: 1.5rem;
  color: #141414;
  margin-top: 0.5em;
}

.posts {
  text-align: center;
  margin-top: 2.75em;
}

.blog-grid:last-child {
  margin-bottom: 3em;
}

@media (min-width: 700px) {
  .blog-grid {
    grid-template-columns: 1em repeat(3, 1fr) 1em;
    grid-template-areas: ".... one two thr ....";
  }

  .blog-img {
    padding: 0;
  }

  .posts {
    margin-bottom: 4.5em;
  }
}
