/* --- General --- */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* --- Header --- */

header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: .95rem;
  margin: 0 0 0 .25em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  width: 1.5em;
}

nav a {
  margin-left: 1.25em;
  text-decoration: none;
  color: #090909;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .75rem;
}

/* ---Main Article--- */

.main-article {
  background-image: url('../images//article-image-hero.png');
  height: 20em;
  width: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  object-fit: cover;
}

.main-container {
  width: 90%;
  margin-left: 1.25em;
  margin-bottom: 1.5em;
}

.main-title {
  font-weight: bold;
  font-size: 2rem;
  margin: .5em 0;
}

.main-article-container p {
  margin: 0;
}

.date {
  font-size: .75rem;
}

/* ---Media Queries--- */

@media (min-width: 700px) {
  header {
    margin: 2em 1.5em;
  }
  header h1 {
    font-size: 1.25rem;
  }

  i {
    width: 2.125rem;
  }

  nav a {
    font-size: 1rem;
  }

  .main-article {
    height: 31.25em;
  }

  .main-container {
    margin-left: 3.12em;
    margin-bottom: 3.75em;
  }

  .date {
    font-size: 1rem;
  }

  .main-title {
    font-size: 2.5rem;
  }
}