/* --- General --- */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- Header --- */

header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: .95rem;
  margin: 0 0 0 .25em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  margin-left: 1.25em;
  text-decoration: none;
  color: #090909;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .75rem;
}

/* ---Footer--- */

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1.5em 0;
  font-size: 1.5rem;
  width: 100%;
}

.footer-title,
.copy {
  font-size: .75rem;
  margin: 0;
}


/* ---Media Queries--- */

@media (min-width: 700px) {
  header {
    margin: 2em 1.5em;
  }
  header h1 {
    font-size: 1.25rem;
  }

  i {
    width: 2.125rem;
  }

  nav a {
    font-size: 1rem;
  }
}