a {
  text-decoration: none;
  color: white;
}

.hide {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---Main Article--- */

.main-article {
  background-image: url("../images//article-image-hero.png");
  height: 20em;
  width: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  object-fit: cover;
  margin-bottom: 2.125em;
}

.main-container {
  width: 90%;
  margin-left: 1.25em;
  margin-bottom: 1.5em;
}

.main-title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0.5em 0;
}

.main-article-container p {
  margin: 0;
}

.main-date {
  font-size: 0.75rem;
}

@media (min-width: 700px) {
  .main-article {
    height: 31.25em;
  }

  .main-container {
    margin-left: 3.12em;
    margin-bottom: 3.75em;
  }

  .main-date {
    font-size: 1rem;
  }

  .main-title {
    font-size: 2.5rem;
  }
}


/* ---Blog grid--- */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  grid-template-areas:
    ".... one ...."
    ".... two ...."
    ".... thr ...."
    ".... fou ...."
    ".... fiv ...."
    ".... six ....";
}

.blog-text-container {
  margin-left: 0.7em;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: thr;
}

.four {
  grid-area: fou;
}

.five {
  grid-area: fiv;
}

.six {
  grid-area: six;
}

.blog-img {
  display: block;
  width: 100%;
  margin: 2.5em auto 0;
  aspect-ratio: 16/9;
  object-fit: cover;
  padding: 0 0.5em;
}

.blog-date {
  font-size: 0.875rem;
}

.blog-text-container h3 {
  font-size: 1.5rem;
  color: #141414;
  margin-top: 0.5em;
}

.view-more-btn {
  border: none;
  text-decoration: underline;
  font-size: .875rem;
  font-weight: bold;
  margin: 2em auto;
  cursor: pointer;
}


@media (min-width: 700px) {
  .blog-grid {
    grid-template-columns: 1em repeat(3, 1fr) 1em;
    grid-template-areas:
      ".... one two thr ...."
      ".... fou fiv six ....";
  }

  .blog-img {
    padding: 0;
  }

  .hide {
    display: grid;
  }

  .view-more-btn {
    opacity: 0;
  }
}
