a {
  text-decoration: none;
  color: white;
}

/* ---Main Article--- */

.main-article {
  background-image: url('../images//article-image-hero.png');
  height: 20em;
  width: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  object-fit: cover;
  margin-bottom: 2.125em;
}

.main-container {
  width: 90%;
  margin-left: 1.25em;
  margin-bottom: 1.5em;
}

.main-title {
  font-weight: bold;
  font-size: 2rem;
  margin: .5em 0;
}

.main-article-container p {
  margin: 0;
}

.main-date {
  font-size: .75rem;
}

/* ---Blog grid--- */
.blog-grid {
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  grid-template-areas: 
  '.... one ....'
  '.... two ....'
  '.... thr ....';
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: thr;
}

.blog-img {
  display: block;
  width: 95%;
  margin: 2.5em auto 0;
}

/* ---Media Queries--- */

@media (min-width: 700px) {
  .main-article {
    height: 31.25em;
  }

  .main-container {
    margin-left: 3.12em;
    margin-bottom: 3.75em;
  }

  .main-date {
    font-size: 1rem;
  }

  .main-title {
    font-size: 2.5rem;
  }
}